<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaxin.product_source.dao.ManagerDiseaseMapper">
    <!--基础查询结果集-->
    <resultMap id="BaseResultMap" type="managerDisease">
        <id column="d_id" property="dId"/>
        <result column="d_name" property="dName"/>
        <result column="d_desc" property="dDesc"/>
        <result column="d_type" property="dType"/>
        <result column="d_etiology" property="dEtiology"/>
        <result column="d_symptom" property="dSymptom"/>
        <result column="d_prevention" property="dPrevention"/>
    </resultMap>

    <!--基础sql字段-->
    <sql id="Base_Column_List">
        d_id
        , d_name, d_desc, d_type, d_etiology, d_symptom, d_prevention
    </sql>

    <!--大屏统计病症信息-->
    <select id="countDisease" resultType="map">
        SELECT d_name, count(d_name) as 'sum'
        FROM manager_disease md
            inner join disease_record dr on md.d_id = dr.dr_d_id
        group by md.d_id
    </select>

    <!--查询所有病症信息-->
    <select id="selectAllByDiseases" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from manager_disease
    </select>

    <!--添加病症记录-->
    <insert id="insert" parameterType="managerDisease">
        insert into manager_disease (d_id, d_name, d_desc,
                                     d_type, d_etiology, d_symptom,
                                     d_prevention)
        values (#{dId}, #{dName}, #{dDesc},
                #{dType}, #{dEtiology}, #{dSymptom},
                #{dPrevention})
    </insert>

    <!--修改病症记录-->
    <update id="updateByPrimaryKey" parameterType="managerDisease">
        update manager_disease
        set d_name       = #{dName},
            d_desc       = #{dDesc},
            d_type       = #{dType},
            d_etiology   = #{dEtiology},
            d_symptom    = #{dSymptom},
            d_prevention = #{dPrevention}
        where d_id = #{dId}
    </update>
</mapper>